{% extends "page.html" %}
{% block title %}Files By Property Value{% endblock %}
{% block page_content %}
  <h2>Property Value Details for {{ prop.namespace }}:{{ prop.name }}=={{ prop_val.value }}</h2>
  <p class="lead">
  </p>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Ext</th>
      <th>Size</th>
      <th>DROID</th>
      <th>FIDO</th>
      <th>File</th>
      <th>Lib Magic</th>
      <th>Tika</th>
    </tr>
    {{ key_rows(report.source_id, keys) }}
  </table>
{% endblock page_content %}

  {% macro key_rows(source_id, keys) %}
  {% for key in keys %}
    {{ key_row(source_id, key) }}
  {% endfor %}
  {% endmacro %}

  {% macro key_row(source_id, item) %}
    <tr>
      <td><a href="/source/{{ source_id }}/file/{{ item.path }}" >{{ item.name }}</a></td>
      <td>{{ item.extension }}</td>
      <td>{{ sizeof_fmt(item.size) }}</td>
      <td>{{ get_property_from_bs(item.byte_sequence, 'uk.gov.tna.droid', 'PUID') }}</td>
      <td>{{ get_property_from_bs(item.byte_sequence, 'org.openpreservation.fido', 'PUID') }}</td>
      <td>{{ get_property_from_bs(item.byte_sequence, 'com.darwinsys.file', 'MIME') }}</td>
      <td>{{ get_property_from_bs(item.byte_sequence, 'os.python.org.libmagic', 'MIME') }}</td>
      <td>{{ get_property_from_bs(item.byte_sequence, 'org.apache.tika', 'MIME') }}</td>
    </tr>
  {% endmacro -%}
