{% extends "page.html" %}
{% block title %}File Details{% endblock %}
{% block page_content %}
  <h2>{{ source.name }}</h2>
  <p class="lead"><a href="/source/{{ source.id }}/folder/">{{ source.name }}</a>
     {%- for part, part_path in key.parts -%}
     <a href="/source/{{ source.id }}/folder/{{ part_path }}/">/{{ part }}</a>
     {%- endfor %}</p>
  <table class="table table-striped">
    <tr>
      <th>Size</th>
      <td>{{ key.size }}</td>
    </tr>
    <tr>
      <th>Last Modified</th>
      <td>{{ key.last_modified }}</td>
    </tr>
    {%- for key, value in properties.items() %}
    <tr>
      <th>{{ key }}</th>
      <td>{{ value }}</td>
      {% endfor -%}
    </tr>
  </table>
  <p>
    <a class="btn btn-primary btn-lg" onclick="get_report({{ source.id }}, '{{ key.value }}', 'application/json', 'json', 'text');" >JSON</a>
    <a class="btn btn-primary btn-lg" onclick="get_report({{ source.id }}, '{{ key.value }}', 'text/xml', 'xml', 'xml');" >XML</a>
    <a class="btn btn-primary btn-lg" onclick="get_report({{ source.id }}, '{{ key.value }}', 'application/pdf', 'pdf', 'binary');" >PDF</a>
  </p>
{% endblock page_content %}
{% block page_script %}
<script src="{{ url_for('static', filename='js/FileSaver.js') }}" /></script>
<script>
function get_report(source_id, key_value, content_type, ext, type) {
  var url = "/api/analyse/".concat(source_id + '/').concat(key_value);
  $.ajax({
    accepts:{text:'application/json', binary: content_type, xml: 'application/xml'},
    url:url,
    processData:false,
    dataType:type,
    success:function(data){
            saveAs(new Blob([data], {type: content_type}),'report.'.concat(ext));
        },
    error: function(){
           // Handle errors here
        }
  });
}

// use this transport for "binary" data type
$.ajaxTransport("+binary", function(options, originalOptions, jqXHR){
    // check for conditions and support for blob / arraybuffer response type
    if (window.FormData && ((options.dataType && (options.dataType == 'binary')) || (options.data && ((window.ArrayBuffer && options.data instanceof ArrayBuffer) || (window.Blob && options.data instanceof Blob)))))
    {
        return {
            // create new XMLHttpRequest
            send: function(headers, callback){
		// setup all variables
                var xhr = new XMLHttpRequest(),
		url = options.url,
		type = options.type,
		async = options.async || true,
		// blob or arraybuffer. Default is blob
		dataType = options.responseType || "blob",
		data = options.data || null,
		username = options.username || null,
		password = options.password || null;

                xhr.addEventListener('load', function(){
			var data = {};
			data[options.dataType] = xhr.response;
			// make callback and send data
			callback(xhr.status, xhr.statusText, data, xhr.getAllResponseHeaders());
                });

                xhr.open(type, url, async, username, password);

		// setup custom headers
		for (var i in headers ) {
			xhr.setRequestHeader(i, headers[i] );
		}

                xhr.responseType = dataType;
                xhr.send(data);
            },
            abort: function(){
                jqXHR.abort();
            }
        };
    }
});</script>
{% endblock page_script %}
