{% extends "page.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
    <div class="jumbotron media">
      <div class="media-left">
        <img alt="Portal logo." title="portal logo" src="{{ url_for('static', filename='img/logo.png') }}" />
      </div>
      <div class="media-body">
        <h1 class="media-heading">RDSS Format Analysis</h1>
        <p>Choose one of the tabs below to browse an S3 Bucket or Local File System Folder</p>
      </div>
    </div>
    <div class="row">
      {{ source_list(buckets) }}
      {{ source_list(folders, type='folder', sub_heading='Browse the local file system.') }}
    </div>
{% endblock page_content %}

{% macro source_list(sources, type='bucket', sub_heading='Browse an Amazon S3 Bucket.') %}
        <div class="col-md-6">
          <h2>{{ type|capitalize }}s</h2>
          <p class="lead">{{ sub_heading }}</p>
          <div class="list-group">
          {% for source in sources %}
            <a href="source/{{ source.id }}/folder" class="list-group-item">
              <h3 class="list-group-item-heading">{{ source.name }}</h3>
              <p class="list-group-item-text"><em>{{ source.location }}</em></p>
              <p class="list-group-item-text">{{ source.description }}</p>
            </a>
          {% endfor %}
          </div>
        </div>
{% endmacro %}
