{% extends "page.html" %}
{% block title %}Report Details{% endblock %}
{% block page_content %}
  <h1>Property Details for {{ prop.namespace }}:{{ prop.name }}</h1>
  <p class="lead"><a href="/reports/{{ report.id }}">{{ report.source.name }}</a>://<a href="/{{ report.root_key }}">{{ report.root_key }}</a></p>
  <p>Created at {{ report.short_iso_timestamp }}, for {{ file_count }} files totalling {{ sizeof_fmt(size) }} in size.</p>
  <table id="property_listing" class="table table-striped">
    <thead>
      <tr>
        <th>Property Value</th>
        <th>File Count</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      {% for prop_value in prop_values %}
        {{ prop_row(prop, prop_value) }}
      {% endfor %}
    </tbody>
</table>
{% endblock page_content %}
{% block page_script %}
{% with table_id='property_listing' %}
{% include "table_sort.html" %}
{% endwith %}
{% endblock page_script %}

{% macro prop_row(prop, prop_value) %}
      <tr>
        <td><a href="/reports/{{ report.id }}/prop/{{ prop.id }}/propval/{{ prop_value.id }}">{{ prop_value.value }}</a></td>
        <td>{{ prop_value.prop_count }}/{{ file_count }} [{{ percent_fmt(prop_value.prop_count, file_count) }}]</td>
        <td>{{ sizeof_fmt(prop_value.prop_size) }}/{{ sizeof_fmt(size) }} [{{ percent_fmt(prop_value.prop_size, size) }}]</td>
      </tr>
{% endmacro -%}
