{% extends "page.html" %}
{% block title %}Report Details{% endblock %}
{% block page_content %}
  <h1>Report Details</h1>
  <p class="lead"><a href="">{{ report.source.name }}</a>/<a href="/{{ report.root_key }}">{{ report.root_key }}</a></p>
  <p>Created at {{ report.short_iso_timestamp }}, for {{ file_count }} files totalling {{ sizeof_fmt(size) }} in size.</p>
  <table class="table table-striped">
    <tr>
      <th>Property</th>
      <th>Analysed</th>
    </tr>
    {{ prop_rows(report.id, key_props) }}
    {{ prop_rows(report.id, bs_props) }}
</table>
{% endblock page_content %}

{% macro prop_rows(report_id, props) %}
{% for prop in props %}
  {{ prop_row(report_id, prop) }}
{% endfor %}
{% endmacro %}

{% macro prop_row(report_id, prop) %}
  <tr>
    <td><a href="prop/{{ prop.id }}" >{{ prop.namespace }}:{{ prop.name }}</a></td>
    <td>{{ prop.prop_count }}/{{ file_count }} [{{ percent_fmt(prop.prop_count, file_count) }}]</td>
  </tr>
{% endmacro -%}
