{% extends "page.html" %}
{% block title %}Configure tool{% endblock %}
{% block page_content %}
  <h2>Configure {{ tool.format_tool_release.format_tool.name }}</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ tool.format_tool_release.format_tool.name }} v{{ tool.format_tool_release.version }}</h3>
    </div>
    <div class="panel-body">
      <p>{{ tool.format_tool_release.format_tool.description }}</p>
      <div class="checkbox">
        <label>
          <input type="checkbox" {{ 'checked ' if tool.enabled else '' }}data-toggle="toggle">
          Turn tool on or off
        </label>
      </div>
    </div>
    <div class="panel-footer">For more information see <a href="{{ tool.format_tool_release.format_tool.reference }}">{{ tool.format_tool_release.format_tool.reference }}</a></div>
  </div>
{% endblock page_content %}
